*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-size: 24px;
}
body{
    background: #080808;
    color: #fff;

}
#header{
    width: 100%;
    
}
.container{
    padding: 10px 10%;
}
nav{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    justify-content: space-between;
    
}
.logo{
    font-size: 80px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    position: relative;

}
nav ul li a::after{
    content:  '';
    width: 0px;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;


}
nav ul li a:hover::after{
    width: 100%
}
.header-text{
    margin-top: 20%;
    font-size: 200px;
}
.header-text h1{
    font-size: 80px;
    margin-top: 20px;
}
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   justify-content: space-between;

}
.about-col-1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    display: grid;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #ff004f;
    text-align: center;
    padding: 40px;
    margin: 10px;

}
.tab-titles{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 20px 0 40px;
    
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    
    
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    line-height: 30px;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 20px;
}
.tab-contents.active-tab{
    display: block;
    padding: 10px;
    
}
.tab-links.cim{
    text-align: center;
    text-decoration: #ff004f;
}
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: transform 0.5s;
}
.services-list div i{
    color: #fff;
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;

}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}
#munkak{
    padding: 40px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}    
.work img{
    width: 100%;
    border-radius: 10px;
    display: inline-block;
    margin: 25px 50px;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
   font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.vissza{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    background-color: #080808;
}
.vissza:hover{
    background: #ff004f;
}
.contact-left{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
}
.contact-right{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px)); 
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
    margin-top: 40px;

}
.social-icons a:hover{
    color:#ff004f;
    transform: translateY(-5px);
}
.letoltes.vissza{
    display: inline-block;
    background: #ff004f;

}
.contact-right form{
    width: 100%;
}
form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
nav .fas{
    display: none;
}

@media only screen and (max-width: 600px){
   .sub-title{
        font-size: 40px;
   }
   .about-col-1{
        margin-bottom: 10px;
   }
   .about-col-2{
        font-size: 8px;
   }
   .tab-links{
        font-size: 16px;
        margin-right: 20px;   
   }
   .copyright{
        font-size: 14px;
   }
}